body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px; 
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: #e6e6ff;
    padding: 10px 20px 20px;
}

@media (min-width: 1250px) {
    .container {
        width: 1000px;
    }
}

.container h1, h2 {
    text-align: center;
}

label {
    display: inline-block;
    margin-bottom: 10px;
}

input, select, button, a {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 15px;
}

input[type=text], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit], button, a {
    background-color: #008402;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    grid-row-gap: 50px;
}

@media (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

.answer-block label {
    background-color: dodgerblue;
    border: 2px solid dodgerblue;
    color: white;
    border-radius: 5px;
	display: inline-block;
	height: auto;
	width: 250px;
	padding: 10px;
	cursor: pointer;
    transition: all .5s ;
    text-align: center;
    box-sizing: border-box;
}

.answer-block label:hover, label:focus, label:active {
    background-color: white;
    color: black;
}

.answer-block input[type=radio]:checked + label {
    background-color: white;
    color: black;
}

.answer-block input[type=radio] {
    display: none;
}

.question-block, .question-block-answered {
    display: none;
}

.question-block-active {
    display: block;
}

progress {
    -webkit-appearance: none;
    appearance: none;

    width: 250px;
    height: 30px;
    
}

progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {    
    border-radius: 5px;
}

.center {
    text-align: center;
    padding: 20px 0;
}

.error {
    color: red;
}